# Ignores the folder containing the MNIST-dataset of approximately 60MBs.
data/mnist-dataset/

# Keeps to .gitkeep file to keep the folder structure inside the repo.
!data/mnist-dataset/.gitkeep

# Ignores all __pycache__ folders accross the repo.
**/__pycache__/

# Ignore the created .npz-file
data/mnist_preprocessed.npz